src/test/resources/schemas/calculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Add -->
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="intA" type="xs:int"/>
        <xs:element minOccurs="1" maxOccurs="1" name="intB" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AddResult" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Subtract -->
  <xs:element name="Subtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="intA" type="xs:int"/>
        <xs:element minOccurs="1" maxOccurs="1" name="intB" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SubtractResult" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Multiply -->
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="intA" type="xs:int"/>
        <xs:element minOccurs="1" maxOccurs="1" name="intB" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="MultiplyResult" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Divide -->
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="intA" type="xs:int"/>
        <xs:element minOccurs="1" maxOccurs="1" name="intB" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DivideResult" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
